* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(24, 24, 24, 0.823)
    ),
    url('../img/products-background.jpg') center center / cover;
  background-attachment: fixed;
  color: white;
}

.nav-items {
  display: flex;
  list-style: none;
  font-size: 1.75rem;
}

.nav-items li {
  padding: 1.4rem 2rem;
  transition: all 0.2s ease;
}

.nav-items li:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
  transform: scale(0.94);
}

.nav-items li:last-child {
  margin-left: auto;
}

.btn {
  background: none;
  outline: 1px solid white;
  color: white;
  width: 10rem;
  padding: 1rem;
  transition: all 0.2s ease;
}

.btn:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  cursor: pointer;
  transform: scale(0.94);
}

.nav-items a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.nav-items li:hover a {
  color: #333;
}

.nav-items a:visited,
a:hover,
a:active {
  color: inherit;
}

/* Main Content */
